<h1>Editing proveedor</h1>

<% form_for(@proveedor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :Nombre %><br />
    <%= f.text_area :Nombre %>
  </p>
  <p>
    <%= f.label :Direccion %><br />
    <%= f.text_field :Direccion %>
  </p>
  <p>
    <%= f.label :Pais %><br />
    <%= f.text_area :Pais %>
  </p>
  <p>
    <%= f.label :Telefono %><br />
    <%= f.text_field :Telefono %>
  </p>
  <p>
    <%= f.label :E-mail %><br />
    <%= f.text_field :E-mail %>
  </p>
  <p>
    <%= f.label :Contacto %><br />
    <%= f.text_area :Contacto %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @proveedor %> |
<%= link_to 'Back', proveedors_path %>