<h1>Listing historials</h1>

<table>
  <tr>
    <th>Proveedor</th>
    <th>Producto</th>
    <th>Cliente</th>
    <th>Entrada</th>
    <th>Salida</th>
    <th>Fecha</th>
  </tr>

<% @historials.each do |historial| %>
  <tr>
    <td><%=h historial.proveedor_id %></td>
    <td><%=h historial.producto_id %></td>
    <td><%=h historial.cliente %></td>
    <td><%=h historial.entrada %></td>
    <td><%=h historial.salida %></td>
    <td><%=h historial.fecha %></td>
    <td><%= link_to 'Show', historial %></td>
    <td><%= link_to 'Edit', edit_historial_path(historial) %></td>
    <td><%= link_to 'Destroy', historial, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New historial', new_historial_path %>