<center>
<br>
<br>
<h1>Lista de Productos</h1>
<br>
<table border>
  <tr>
    <th>Proveedor</th>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Precio unitario</th>
    <th>Existencias</th>
    <th>Editar</th>
    <th>Eliminar</th>
  </tr>

<% @productos.each do |producto| %>
  <tr>
    <td><%=link_to producto.proveedore_id, producto %></td>
    <td><%=h producto.Nombre %></td>
    <td><%=h producto.Descripcion %></td>
    <td><center><%=h producto.Precio_Unitario %></center></td>
    <td><center><%=h producto.Existencias %></center></td>
    <td><%= link_to '<img src="/img/reload.png" width=15, heidht=15 >', edit_producto_path(producto) %></td>
    <td><%= link_to '<img src="/img/remove.png" width=15, heidht=15 >', producto, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</center>
<br />

<%= link_to '<img src="/img/add.png" width=25, heidht=25 >Agregar Producto', new_producto_path %>
