<h1>Listing productos</h1>

<table>
  <tr>
    <th>Marca</th>
    <th>Modelo</th>
    <th>Tipo</th>
    <th>Descripcion</th>
    <th>Valor unitario</th>
    <th>Ingresos</th>
    <th>Salidas</th>
    <th>Existencias</th>
    <th>Valor del inventario</th>
  </tr>

<% @productos.each do |producto| %>
  <tr>
    <td><%=h producto.Marca %></td>
    <td><%=h producto.Modelo %></td>
    <td><%=h producto.Tipo %></td>
    <td><%=h producto.Descripcion %></td>
    <td><%=h producto.Valor_Unitario %></td>
    <td><%=h producto.Ingresos %></td>
    <td><%=h producto.Salidas %></td>
    <td><%=h producto.Existencias %></td>
    <td><%=h producto.Valor_del_inventario %></td>
    <td><%= link_to 'Show', producto %></td>
    <td><%= link_to 'Edit', edit_producto_path(producto) %></td>
    <td><%= link_to 'Destroy', producto, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New producto', new_producto_path %>