<h1>Nuevo producto</h1>

<% form_for(@producto) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :proveedore_id %><br />
      <%= f.collection_select :proveedore_id, Proveedore.all, :id, :Nombre%>   
  </p>
  <p>
    <%= f.label :Nombre %><br />
    <%= f.text_field :Nombre %>
  </p>
  <p>
    <%= f.label :Descripcion %><br />
    <%= f.text_area :Descripcion %>
  </p>
  <p>
    <%= f.label :Precio_Unitario %><br />
    <%= f.text_field :Precio_Unitario %>
  </p>
  <p>
    <%= f.label :Existencias %><br />
    <%= f.text_field :Existencias %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to '<img src="/img/back.png" width=15, heidht=15 >', productos_path %>
