<h1>New producto</h1>

<% form_for(@producto) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :proveedores_id %><br />
    <%= f.text_field :proveedores_id %>
  </p>
  <p>
    <%= f.label :Nombre %><br />
    <%= f.text_area :Nombre %>
  </p>
  <p>
    <%= f.label :Descripcion %><br />
    <%= f.text_field :Descripcion %>
  </p>
  <p>
    <%= f.label :Precio_Unitario %><br />
    <%= f.text_field :Precio_Unitario %>
  </p>
  <p>
    <%= f.label :Existencias %><br />
    <%= f.text_field :Existencias %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to '<img src="/img/back.png" width=15, heidht=15 >', productos_path %>
